# We don't care about build products
/pkg/*
/.yardoc/*
/ydocs/*

# Keeping 'command' gem currently inlined - this task facilitates synchronization
/rake/tasks/sync.rake

# The locale baretest id is not of interest to others
/.baretest_id_*
